:root {
  --primary-600: hsl(12, 88%, 59%);
  --primary-800: hsl(228, 39%, 23%);
  --neutral-400: hsl(0, 0%, 98%);
  --neutral-500: hsl(13, 100%, 96%);
  --neutral-600: hsl(227, 12%, 61%);
  --neutral-800: hsl(233, 12%, 13%);
}

body {
  font-family: "Be Vietnam Pro", "Comic Sans MS", sans-serif;
}

.transition-all {
  transition: all ease-in-out 150ms;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.section-max-w {
  max-width: 1160px;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.section-margin {
  margin-block: 6.25rem;
}
