body {
  background-image: url("../static/images/bg-tablet-pattern.svg");
  background-size: 55vmax;
  background-repeat: no-repeat;
  background-position: 55vmax -10vmin;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 3.5rem;
}

.nav-logo {
  display: block;
}

.nav-logo img {
  height: 1.5rem;
  width: auto;
}

.nav-links-container {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links {
  display: block;
  text-decoration: none;
  color: var(--primary-800);
  font-weight: 700;
  font-size: 0.8125rem;
  letter-spacing: -0.5px;
}

.nav-links:hover {
  color: var(--neutral-600);
}

.nav-menu {
  display: none;
}

.cta {
  background-color: var(--primary-600);
  text-decoration: none;
  color: var(--neutral-400);
  padding: 1em 2.25em;
  font-size: 0.8125rem;
  font-weight: 700;
  border-radius: 9999px;
  box-shadow: 0 1.5em 1.5em -1em hsl(12, 88%, 59%, 0.5);
  display: block;
  max-width: max-content;
}

.cta:hover {
  opacity: 0.7;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero .container-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.hero .container-left .title {
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--primary-800);
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-block-start: 1.875rem;
}

.intro {
  font-size: 1rem;
  font-weight: 400;
  color: var(--neutral-600);
  max-width: 32ch;
  line-height: 1.65;
}

.hero .container-right img {
  margin-inline: auto;
  transform: scale(1.05) translateY(4%) translateX(1%);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.about .container-left {
  padding-block: 0.5rem;
}

.about .container-left .title {
  font-size: 2.25rem;
  line-height: 1.25;
  margin-block: 1.875rem 1.5rem;
  color: var(--primary-800);
  letter-spacing: 0.6px;
}

.about .container-right {
  padding-block: 1rem;
}

.about .numbered-list-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  flex: 1;
}

.about .numbered-list {
  display: flex;
  margin-left: 5rem;
}

.about .numbered-list .title {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--primary-800);
  margin-block: 1.5rem 1.125rem;
  letter-spacing: -0.65px;
}

.about .numbered-list .id {
  display: inline-block;
  color: var(--neutral-400);
  background-color: var(--primary-600);
  padding: 0.5em 1.5em;
  border-radius: 9999px;
  top: 1rem;
  left: -6rem;
  position: absolute;
  z-index: 10;
}

.about .numbered-list .content {
  max-width: 42ch;
  color: var(--neutral-600);
  font-size: 1rem;
}

.testimonials .title {
  font-size: 2.25rem;
  color: var(--primary-800);
  font-weight: 700;
  text-align: center;
  padding-block-start: 2.25rem;
  letter-spacing: 0.5px;
}

.testimonials .slider-container {
  padding-block-start: 6.5rem;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.testimonials .slider {
  display: flex;
  gap: 1.5rem;
  text-align: center;
}

.testimonials .card-container {
  background-color: var(--neutral-400);
  padding-block: 2rem;
  padding-inline: 1.5rem;
  border-radius: 0.25em;
  min-width: 33.5rem;
  height: 100%;
  cursor: grab;
}

.testimonials .card-title {
  font-size: 1rem;
  margin-block: 1.875rem 1.125rem;
  color: var(--primary-800);
  letter-spacing: -0.2px;
}

.testimonials .card-img {
  border-radius: 9999px;
  top: -2.25rem;
  margin-inline: auto;
  left: 0;
  right: 0;
  width: 4.5rem;
  aspect-ratio: 1 / 1;
  pointer-events: none;
}

.testimonials .card-content {
  font-size: 1rem;
  color: var(--neutral-600);
  max-width: 42ch;
  margin-inline: auto;
}

.testimonials .cta {
  display: block;
  margin-inline: auto;
  margin-block: 3.75rem;
}

.section-cta {
  background-color: var(--primary-600);
  background-image: url("../static/images/bg-simplify-section-desktop.svg");
  background-size: 100%;
  margin-block-start: 11.125rem;
}

.section-cta .container {
  padding-block: 4.25rem 3.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-cta .title {
  font-size: 2.25rem;
  color: var(--neutral-400);
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 1.25;
}

.section-cta .cta {
  background-color: var(--neutral-400);
  color: var(--primary-600);
}
