.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 4.375rem;
}

.nav-logo {
  display: block;
}

.nav-logo img {
  height: 1.5rem;
  width: auto;
}

.nav-links-container {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links {
  display: block;
  text-decoration: none;
  color: var(--primary-800);
  font-weight: 700;
  font-size: 0.8125rem;
  letter-spacing: -0.5px;
}

.nav-links:hover {
  color: var(--neutral-600);
}

.nav-menu {
  display: none;
}

.cta {
  background-color: var(--primary-600);
  text-decoration: none;
  color: var(--neutral-400);
  padding: 1em 2.25em;
  font-size: 0.8125rem;
  font-weight: 700;
  border-radius: 9999px;
  box-shadow: 0 1.5em 1.5em -1em hsl(12, 88%, 59%, 0.5);
}

.nav-cta {
  margin-inline: 1rem -1.25rem;
}

.cta:hover {
  opacity: 0.7;
}
