@media screen and (max-width: 768px) {
  .section-margin {
    margin-block: 2rem;
  }

  body {
    background-size: 75vmax, 50vmax;
    background-position: 8vmax -25vmax, 30vmax 60vmax;
  }

  .nav {
    padding-block-start: 2rem;
  }

  .nav-logo img {
    height: 1.5rem;
  }

  .nav-cta-container {
    display: none;
  }

  .nav-links-container {
    display: none;
    gap: 1.25rem;
    flex-direction: column;
    background-color: var(--neutral-400);
    border-radius: 0.25rem;
    position: absolute;
    inset: 5rem 0 auto 0;
    margin-inline: 1.5rem;
    padding-block: 3rem;
    box-shadow: 0 55vh 65vw 70vw hsl(233, 12%, 13%, 0.5);
    animation: menu_slide_in 300ms ease-in-out;
    z-index: 20;
  }

  .nav-links {
    max-width: fit-content;
    margin-inline: auto;
    font-size: 0.9375rem;
  }

  .nav-menu {
    display: block;
    position: relative;
  }

  .nav-menu.expanded + .nav-links-container {
    display: flex;
  }

  .intro {
    line-height: 1.8;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero .container-left {
    text-align: center;
    align-items: center;
  }

  .hero .container-left .title {
    font-size: 2.25rem;
  }

  .hero .container-right {
    grid-row: 1;
  }

  .hero .container-right img {
    transform: none;
  }

  .about {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .about .container-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about .container-left .title {
    font-size: 1.9375rem;
  }

  .about .numbered-list-container {
    gap: 1rem;
  }

  .about .numbered-list {
    display: block;
    margin-left: 0;
  }

  .about .numbered-list .id {
    left: -0.5rem;
    top: 0;
  }

  .about .numbered-list .title {
    transform: translateX(1.5rem);
    padding-block: 0.5em;
    padding-inline-start: 3em;
    background-color: var(--primary-400);
  }
  .about .numbered-list .content {
    line-height: 1.9;
    font-size: 0.8125rem;
  }
  .testimonials .card-container {
    min-width: 90vw;
  }
  .testimonials .card-img {
    margin-inline: auto;
    left: 0;
    right: 0;
  }

  .section-cta {
    background-image: url('../static/images/bg-simplify-section-mobile.svg');
  }

  .section-cta .container {
    flex-direction: column;
    justify-content: initial;
    text-align: center;
    gap: 1.5rem;
  }
  .primary-footer .container {
    grid-template-columns: 1fr;
    gap: 4em;
  }

  .primary-footer .container-links {
    grid-row: 2;
    justify-content: space-around;
  }

  .primary-footer .container-media {
    grid-row: 3;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3.5em;
  }
  .primary-footer .sm-links {
    display: flex;
    flex: 1;
    margin-block-start: 0;
    gap: 1.5em;
  }
  .secondary-footer {
    text-align: center;
  }
}
